.nav {
  background-color: burlywood;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  background-color: var(--primary);
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

:root {
  --primary: #007fff;
}

.nav-center {
  display: flex;
}

.logo {
  color: #fff;
}

.nav-link {
  font-size: 1.8rem;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}
.nav-link:hover {
  background-color: rgb(29, 172, 255);
}
